body {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Arial Rounded MT Bold", "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: beige;
}

h1 {
  font-size: 3em;
  animation: titleStuff 0.5s ease-out;
}

p {
  margin: 0;
}

@keyframes titleStuff {
  from {
    transform: translateY(-20px);
    opacity: 0;
    letter-spacing: -0.3em;
  }
  to {
    letter-spacing: 0;
    transform: translateY(0);
  }
}